.page-footer{
  background-color: #503424;
  color:#ffffff;
  margin:0 auto;
}

.page-footer a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #a73332;
    text-decoration: none;
    font-weight: bold;
  }
}
